.subscribe {
  margin-bottom: 4rem;
  background: $bg3;
  color: $text-color3;
  height: 5.5rem;
  line-height: 5.5rem;
  span {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  input {
    line-height: 0;
    outline: none;
    border: none;
  }
  &__email {
    vertical-align: middle;
    float: left;
    input[type="text"] {
      padding: 0.9rem 0px 0.9rem 0.9rem;
      margin-right: -0.4rem;
      font-style: italic;
    }
    input[type="submit"] {
      height: 2.8rem;
      width: 2.8rem;
      background: $element-color url("../img/plus-icon.png") no-repeat center center;
      border: none;
      border-bottom: 2px solid $border3;
    }
  }
  &__social {
    vertical-align: middle;
    float: right;
    font-size: 0;
    span {
      position: relative;
      top: -2.3rem;
    }
  }
  .social {
    display: inline-block;
    width: 5.5rem;
    height: 5.5rem;
    color: $icons4;
    &-fb {
      background: $bg4 url("../img/social-subscribe.png") no-repeat 2.2rem center;
    }
    &-tw {
      background: url("../img/social-subscribe.png") no-repeat -3.2rem center;
    }
    &-pt {
      background: $bg4 url("../img/social-subscribe.png") no-repeat -8.7rem center;
    }
  }
}

.best-offers {
  margin-bottom: 5rem;
  &__link {
    padding: .1rem !important;
    display: block;
    font-size: 0;
    position: relative;
  }
  &__link > img {
    width: 100%;
  }
  &__link > span {
    display: block;
    position: absolute;
  }
  &__link:first-child > span {
    top: 8rem;
    right: 5.5rem;
  }
  &__link:nth-child(2) > span {
    left: 3rem;
    top: 3.5rem;
  }
  &__link:nth-child(3) > span {
    bottom: 2rem;
    left: 50%;
    margin-left: -92px;
  }
  &__link:nth-child(4) > span {
    top: 5rem;
    left: 3rem;
    img {
      margin-bottom: 1rem;
    }
    button {
      margin: 0 auto;
    }
    .glyphicon {
      font-size: 1rem;
    }
  }
}

.shopping {
  margin-bottom: 2.5rem;
  &__tabs.nav-tabs {
    border: none;
    margin-bottom: -.2rem;
  }
  &__tabs.nav-tabs li {
    margin-bottom: 0;
  }
  &__tabs.nav-tabs > li > a {
    background: transparent;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $text-color4;
    border: none;
  }
  &__tabs.nav-tabs > li.active > a,
  &__tabs.nav-tabs > li:focus > a,
  &__tabs.nav-tabs > li > a:hover,
  &__tabs.nav-tabs > li.active > a:hover,
  &__tabs.nav-tabs > li.active > a:focus {
    background: $element-color;
    border: none;
    border-radius: 0;
    color: $main-color;
  }
  &__tab-pane.active {
    background: $element-color;
    padding: 3rem 0;
  }
  &__tab-pane .item {
    cursor: pointer;
    color: $text-color1;
    text-align: center;
    background: $bg4;
    width: 20%;
    padding: 0 0 1rem;
    margin: 0 2.45%;
    img {
      width: 100%;
    }
    &__description {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
    &__price {
      font-size: 2.2rem;
    }
    img,
    &__description,
    &__price {
      margin-bottom: 1rem;
    }
    .add-cart-btn {
      padding: 0 1rem;
      line-height: 3rem;
    }
    &__shop-it {
      display: none;
    }
    &:hover {
      position: relative;
      transform: scale(1.07);
      transition: all 1.4s;
      box-shadow: 0 0 14px 5px $shadow1;
      .item__shop-it {
        font-size: 1.2rem;
        color: $main-color;
        display: block;
        position: absolute;
        width: 13.7rem;
        height: 13.7rem;
        top: 50%;
        left: 50%;
        margin-left: -6.8rem;
        margin-top: -6.8rem;
        background: $bg6 url("../img/shop-it-icon.png") no-repeat center 40%;
        border-radius: 50%;
      }
      .item__shop-it span {
        display: block;
        position: absolute;
        top: 60%;
        left: 32%;
        text-transform: uppercase;
      }
    }
  }
  &__tab-pane .item:last-child {
    margin-right: 0;
  }
}

.discounts {
  margin-bottom: 6rem;
  &-heading {
    text-align: center;
    margin-bottom: 2.5rem;
    background: url("../img/discounts-shape.png") repeat-x center center;
    &__img {
      display: inline-block;
      background: $main-color;
      position: relative;
      padding: 0 1.6rem;
    }
  }
  .item {
    cursor: pointer;
    color: $text-color1;
    text-align: center;
    background: $bg4;
    width: 20%;
    padding: 0 0 1rem;
    margin: 0 2.45%;
    img {
      width: 100%;
    }
    &__description {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
    &__price {
      font-size: 2.2rem;
    }
    img,
    &__description,
    &__price {
      margin-bottom: 1rem;
    }
    .add-cart-btn {
      padding: 0 1rem;
      line-height: 3rem;
    }
    &__shop-it {
      display: none;
    }
    &:hover {
      position: relative;
      transform: scale(1.07);
      transition: all 1.4s;
      box-shadow: 0 0 14px 5px $bg4;
      .item__shop-it {
        font-size: 1.2rem;
        color: $main-color;
        display: block;
        position: absolute;
        width: 13.7rem;
        height: 13.7rem;
        top: 50%;
        left: 50%;
        margin-left: -6.8rem;
        margin-top: -6.8rem;
        background: $bg6 url("../img/shop-it-icon.png") no-repeat center 40%;
        border-radius: 50%;
      }
      .item__shop-it span {
        display: block;
        position: absolute;
        top: 60%;
        left: 32%;
        text-transform: uppercase;
      }
    }
  }
  .item:last-child {
    margin-right: 0;
  }
}

.fav-brands {
  text-align: center;
  font-size: 0;
  background: url("../img/discounts-shape.png") repeat-x center bottom;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  &__heading {
    font-size: 1.5rem;
    color: $text-color5;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    background: url("../img/discounts-shape.png") repeat-x center center;
    span {
      display: inline-block;
      position: relative;
      padding: 0 1.2rem;
      background: $main-color;
    }
  }
  &__img {
    font-size: 1rem;
    display: inline-block;
    margin-right: 6.4rem;
    &:last-child {
      margin-right: 0;
    }
  }
}