/*Index*/

.subscribe {
  margin-bottom: 4rem;
  background: $bg3;
  color: $text-color3;
  height: 5.5rem;
  line-height: 5.5rem;
  span {
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  input {
    line-height: 0;
    outline: none;
    border: none;
  }
  &__email {
    vertical-align: middle;
    float: left;
    input[type="text"] {
      padding: 0.9rem 0px 0.9rem 0.9rem;
      margin-right: -0.4rem;
      font-style: italic;
    }
    input[type="submit"] {
      height: 2.8rem;
      width: 2.8rem;
      background: $element-color url("../img/plus-icon.png") no-repeat center center;
      border: none;
      border-bottom: 2px solid $border3;
    }
  }
  &__social {
    vertical-align: middle;
    float: right;
    font-size: 0;
    span {
      position: relative;
      top: -2.3rem;
    }
  }
  .social {
    display: inline-block;
    width: 5.5rem;
    height: 5.5rem;
    color: $icons4;
    &-fb {
      background: $bg4 url("../img/social-subscribe.png") no-repeat 2.2rem center;
    }
    &-tw {
      background: url("../img/social-subscribe.png") no-repeat -3.2rem center;
    }
    &-pt {
      background: $bg4 url("../img/social-subscribe.png") no-repeat -8.7rem center;
    }
  }
}

.best-offers {
  margin-bottom: 5rem;
  &__link {
    padding: .1rem !important;
    display: block;
    font-size: 0;
    position: relative;
  }
  &__link > img {
    width: 100%;
  }
  &__link > span {
    display: block;
    position: absolute;
  }
  &__link:first-child > span {
    top: 8rem;
    right: 5.5rem;
  }
  &__link:nth-child(2) > span {
    left: 3rem;
    top: 3.5rem;
  }
  &__link:nth-child(3) > span {
    bottom: 2rem;
    left: 50%;
    margin-left: -92px;
  }
  &__link:nth-child(4) > span {
    top: 5rem;
    left: 3rem;
    img {
      margin-bottom: 1rem;
    }
    button {
      margin: 0 auto;
    }
    .glyphicon {
      font-size: 1rem;
    }
  }
}

.shopping {
  margin-bottom: 2.5rem;
  &__tabs.nav-tabs {
    border: none;
    margin-bottom: -.2rem;
  }
  &__tabs.nav-tabs li {
    margin-bottom: 0;
  }
  &__tabs.nav-tabs > li > a {
    background: transparent;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $text-color4;
    border: none;
  }
  &__tabs.nav-tabs > li.active > a,
  &__tabs.nav-tabs > li:focus > a,
  &__tabs.nav-tabs > li > a:hover,
  &__tabs.nav-tabs > li.active > a:hover,
  &__tabs.nav-tabs > li.active > a:focus {
    background: $element-color;
    border: none;
    border-radius: 0;
    color: $main-color;
  }
  &__tab-pane.active {
    background: $element-color;
    padding: 3rem 0;
  }
  &__tab-pane .item {
    cursor: pointer;
    color: $text-color1;
    text-align: center;
    background: $bg4;
    width: 20%;
    padding: 0 0 1rem;
    margin: 0 2.45%;
    img {
      width: 100%;
    }
    &__description {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
    &__price {
      font-size: 2.2rem;
    }
    img,
    &__description,
    &__price {
      margin-bottom: 1rem;
    }
    .add-cart-btn {
      padding: 0 1rem;
      line-height: 3rem;
    }
    &__shop-it {
      display: none;
    }
    &:hover {
      position: relative;
      transform: scale(1.07);
      transition: all 1.4s;
      box-shadow: 0 0 14px 5px $shadow1;
      .item__shop-it {
        font-size: 1.2rem;
        color: $main-color;
        display: block;
        position: absolute;
        width: 13.7rem;
        height: 13.7rem;
        top: 50%;
        left: 50%;
        margin-left: -6.8rem;
        margin-top: -6.8rem;
        background: $bg6 url("../img/shop-it-icon.png") no-repeat center 40%;
        border-radius: 50%;
      }
      .item__shop-it span {
        display: block;
        position: absolute;
        top: 60%;
        left: 32%;
        text-transform: uppercase;
      }
    }
  }
  &__tab-pane .item:last-child {
    margin-right: 0;
  }
}

.discounts {
  margin-bottom: 6rem;
  &-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $text-color5;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.5rem;
    background: url("../img/discounts-shape.png") repeat-x center center;
    &__img {
      display: inline-block;
      background: $main-color;
      position: relative;
      padding: 0 1.6rem;
    }
  }
  .item {
    cursor: pointer;
    color: $text-color1;
    text-align: center;
    background: $bg4;
    width: 20%;
    padding: 0 0 1rem;
    margin: 0 2.45%;
    img {
      width: 100%;
    }
    &__description {
      text-transform: uppercase;
      font-size: 1.2rem;
    }
    &__price {
      font-size: 2.2rem;
    }
    img,
    &__description,
    &__price {
      margin-bottom: 1rem;
    }
    .add-cart-btn {
      padding: 0 1rem;
      line-height: 3rem;
    }
    &__shop-it {
      display: none;
    }
    &:hover {
      position: relative;
      transform: scale(1.07);
      transition: all 1.4s;
      box-shadow: 0 0 14px 5px $bg4;
      .item__shop-it {
        font-size: 1.2rem;
        color: $main-color;
        display: block;
        position: absolute;
        width: 13.7rem;
        height: 13.7rem;
        top: 50%;
        left: 50%;
        margin-left: -6.8rem;
        margin-top: -6.8rem;
        background: $bg6 url("../img/shop-it-icon.png") no-repeat center 40%;
        border-radius: 50%;
      }
      .item__shop-it span {
        display: block;
        position: absolute;
        top: 60%;
        left: 32%;
        text-transform: uppercase;
      }
    }
  }
  .item:last-child {
    margin-right: 0;
  }
}

.fav-brands {
  text-align: center;
  font-size: 0;
  background: url("../img/discounts-shape.png") repeat-x center bottom;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  &__heading {
    font-size: 1.5rem;
    color: $text-color5;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    background: url("../img/discounts-shape.png") repeat-x center center;
    span {
      display: inline-block;
      position: relative;
      padding: 0 1.2rem;
      background: $main-color;
    }
  }
  &__img {
    font-size: 1rem;
    display: inline-block;
    margin-right: 6.4rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.about-lookshop {
  margin-bottom: 3rem;
  text-align: center;
  &__heading {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color: $text-color5;
  }
  p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $text-color6;
    margin: 0;
  }
}

.payment {
  background: $bg4;
  line-height: 6rem;
  text-align: center;
  span {
    font-size: 1.2rem;
    color: $text-color7;
    margin-right: 1.5rem;
  }
}

/*Product*/

.product {
  margin-bottom: 4rem;
}

.product-img {
  width: 41%;
  float: left;
  &__main {
    margin-bottom: 1rem;
  }
  &__additional {
    a {
      display: block;
      float: left;
      margin-right: 1.3rem;
    }
    a:last-child {
      margin-right: 0;
    }
  }
}

.product-info {
  width: 59%;
  float: right;
  &__heading {
    display: block;
    border-bottom: 1px solid $border2;
    line-height: 4rem;
    font-size: 1.2rem;
    color: $text-color13;
    margin-bottom: 2rem;
    span {
      color: $element-color;
    }
    .glyphicon {
      color: $icons5;
    }
  }
  &__name {
    font-size: 2.4rem;
    color: $text-color14;
    margin-bottom: 2rem;
  }
  &__price {
    font-size: 3.6rem;
    color: $element-color;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }
  &__description {
    margin: 0 0 2rem;
    color: $text-color13;
    line-height: 1.8rem;
    font-size: 1.2rem;
  }
  &__properties {
    margin-bottom: 2.4rem;
    border-top: 1px solid $border2;
    border-bottom: 1px solid $border2;
    padding: .9rem 0;
    .product-size {
      border: medium none;
      background: $border2;
      padding: .7rem .8rem;
      font-size: 1.2rem;
      color: $text-color15;
    }
    .product-colors {
      float: right;
      a {
        float: left;
        margin-right: .1rem;
        display: block;
        width: 2.9rem;
        height: 3.1rem;
        background: url("../img/product-color-sprite.png") no-repeat;
      }
      a.color-1 {
        background-position: 0px 0px;
      }
      a.color-2 {
        background-position: -30px 0px;
      }
      a.color-3 {
        background-position: -60px 0px;
      }
      a.color-4 {
        background-position: -90px 0px;
      }
      a.color-5 {
        background-position: -120px 0px;
      }
    }
  }
  .product-buy {
    &__quantity {
      float: left;
      margin-right: 0.5rem;
      .add-cart-btn {
        width: 47px;
        font-size: 8px;
        line-height: 47px;
      }
    }
    .quantity-less {
      float: left;
    }
    &__quantity-value {
      width: 4.7rem;
      color: $main-color;
      float: left;
      font-size: 1.6rem;
      text-align: center;
      background: $bg7;
      line-height: 5.1rem;
    }
    .product-btn {
      padding: 0px 1.9rem;
      line-height: 47px;
    }
  }
}

.we-in-social {
  margin-bottom: 3.7rem;
  .container {
    padding: 2rem 8rem;
    border-top: 1px solid $border2;
    border-bottom: 1px solid $border2;
  }
  &__link.col-md-3 {
    display: block;
    height: 4.9rem;
    font-size: 1.1rem;
    color: $text-color15;
    padding-top: .8rem;
    text-transform: uppercase;
    padding-left: 5.6rem;
    background: url("../img/product-social-sprite.png") no-repeat;
    span {
      position: relative;
      display: block;
    }
  }
  &__link.social-fb {
    background-position: 0px 0px;
  }
  &__link.social-pt {
    background-position: 0px -5.4rem;
  }
  &__link.social-tw {
    background-position: 0px -10.8rem;
  }
  &__link.social-em {
    background-position: 0px -16.2rem;
  }
  &__link.social-fb:hover {
    background-position: 5.6rem 0px;
  }
  &__link.social-pt:hover {
    background-position: 5.6rem -5.4rem;
  }
  &__link.social-tw:hover {
    background-position: 5.6rem -10.8rem;
  }
  &__link.social-em:hover {
    background-position: 5.6rem -16.2rem;
  }
  &__link.col-md-3:hover {
    text-decoration: none;
    transition: 1.2s;
    span {
      transition: 1.2s;
      color: $main-color;
      transform: translateX(-90px);
    };
  }
}

.product-accordion {
  margin-bottom: 4.2rem;
  .panel-group &__panel.panel {
    margin-bottom: -.6rem;
    border: none;
    border-radius: 0;
  }
  &__heading.panel-heading {
    font-size: 1.4rem;
    padding: 1.8rem;
    margin: 0;
    border-radius: 0;
    font-size: 0;
    a {
      color: $main-color;
      font-size: 1.4rem;
      text-transform: uppercase;
    }
    a:hover,
    a:focus,
    a:active {
      border: none;
      text-decoration: none;
      outline: none;
    }
    a .glyphicon {
      display: inline-block;
      border: 1px solid $main-color;
      font-size: 1.1rem;
      line-height: 2.2rem;
      width: 2.2rem;
      text-align: center;
      margin-right: 1rem;
    }
    a .glyphicon.glyphicon-chevron-down {
      display: none;
    }
    a[aria-expanded="true"] .glyphicon.glyphicon-chevron-down {
      display: inline-block;
    }
    a[aria-expanded="true"] .glyphicon.glyphicon-chevron-right {
      display: none;
    }
  }
  &__heading.panel-heading.heading-1 {
    background: lighten($element-color, 20%);
    a .glyphicon.glyphicon-chevron-right {
      background: $element-color;
    }
  }
  &__heading.panel-heading.heading-2 {
    background: lighten($element-color, 15%);
    a .glyphicon.glyphicon-chevron-right {
      background: lighten($element-color, 5%);
    }
  }
  &__heading.panel-heading.heading-3 {
    background: lighten($element-color, 10%);
    a .glyphicon.glyphicon-chevron-right {
      background: lighten($element-color, 10%);
    }
  }
  &__heading.panel-heading.heading-4 {
    background: lighten($element-color, 5%);
    a .glyphicon.glyphicon-chevron-right {
      background: lighten($element-color, 15%);
    }
  }
  &__heading.panel-heading.heading-5 {
    background: $element-color;
    a .glyphicon.glyphicon-chevron-right {
      background: lighten($element-color, 20%);
    }
  }

}