.header-top {
  background: $head-foot;
  line-height: 3rem;
  &, a {
    color: $main-color;
  }
  &__phone {
    text-transform: uppercase;
  }
  &__account {
    text-transform: uppercase;
    float: right;
  }
  .language span {
    font-size: .9rem;
  }
  .language, a {
    float: left;
    cursor: pointer;
  }
  a {
    display: block;
  }
  &__account-link span {
    margin-right: 1rem;
    color: $icons1;
  }
  .language, &__account-search-btn {
    border-left: 1px solid $border1;
    border-right: 1px solid $border1;
  }
  .language, &__account-search-btn, &__account-link {
    padding: 0 1.5rem;
  }
}

.header-body {
  padding: 2rem 0;
}

.header-body__logo {
  float: left;
  margin-right: 18rem;
}

.header-body__menu {
  float: left;
  margin-right: 2.4rem;
  line-height: 8.6rem;
  & > ul {
    display: table;
    li {
      display: table-cell;
      float: left;
      margin-right: 3rem;
      a {
        color: $head-foot;
        padding: 0;
      }
      a:hover, a:focus {
        background: $main-color;
        outline: none;
      }
    }
    li:last-child {
      margin-right: 0;
    }
    span {
      font-size: 1rem;
    }
  }
  & > ul ul {
    display: none;
  }
}

.cart {
  float: right;
  width: 21.5rem;
  &__user-cart, &__cart-info {
    width: 100%;
    display: block;
    border: 1px solid $border2;
    color: $text-color2;
    line-height: 3.3rem;
    padding: 0 .9rem;
  }
  &__user-cart {
    margin-bottom: -.1rem;
    position: relative;
    cursor: pointer;
    span {
      position: absolute;
      right: 1rem;
      top: 1.3rem;
    }
  }
  &__cart-info {
    text-align: right;
    text-transform: uppercase;
    background: url("../img/cart-icon.png") no-repeat 1rem center;
  }
}
