$head-foot: #000;
$main-color: #fff;
$element-color: #fd926d;
$foot-body: #ededed;
$border1: #444;
$border2: #d6d6d6;
$text-color1: #373737;
$text-color2: #949393;
$icons: #666;

.clearfix:after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}