.slider {
  margin-bottom: 8rem;
}

.carousel-inner.slider-pictures {
  img {
    width: 100%;
  }
  .slider-pictures__caption {
    width: 50rem;
    left: 10% !important;
    img {
      margin-bottom: 1.8rem;
    }
  }
  .shop-btn {
    padding: 0 2.5rem;
    font-size: 1.6rem;
    line-height: 5.4rem;
    span {
      margin-left: 2rem;
      font-size: .9rem;
    }
  }
}

.carousel-control.slider__control {
  display: inline-block;
  width: 3rem;
  background-color: $bg1;
  background-image: none !important;
  padding: 0 .8rem 0 1rem;
  height: 11.7rem;
  top: 50%;
  margin-top: -5.3rem;
  color: $icons2;
  text-shadow: none;
  opacity: 1;
  &:hover, &:focus {
    color: $icons2;
  }
  &:hover {
    outline: none;
    box-shadow: -1px 0 3px 1px darken($icons2, 5%);
  }
  &:active .glyphicon {
    transform: scale(.8);
    transition: transform .3s;
  }
}

.carousel-indicators.slider__indicators {
  background: $main-color;
  width: 100%;
  line-height: 7.5rem;
  bottom: -8.4rem;
  left: 0;
  margin-left: 0;
  li {
    background-color: $icons3;
    &.active {
      background-color: $element-color;
      width: 1rem;
      height: 1rem;
    }
  }

}

